<ion-header>
  <ion-navbar  color="dark">

     
    <ion-title>
        Visit Details
    </ion-title>
    
  </ion-navbar>
  <ion-toolbar>
      <button *ngIf="schedule.Status=='1'" ion-button large full color="primary" (click)="startVisit()"  >  Start Visit</button>
      <button *ngIf="schedule.Status!='1'" ion-button large full color="primary" (click)="startVisit()"  > Edit Visit</button>
    </ion-toolbar>
</ion-header>

<ion-content padding >
        <p>Today is {{ today | date :  "EEE MMM d" }}</p>
    <h3>{{ schedule.PatName }}</h3>
<h4>Scheduled for {{ schedule.StartDate }}</h4>
<h5>{{ schedule.StartTime }}</h5>
<h4 *ngIf="schedule.AssessStartDate!=''">Visit on {{ schedule.AssessStartDate }}</h4>
<h5  *ngIf="schedule.AssessStartDate!=''">{{ schedule.AssessStartTime }}</h5>
<button ion-button icon-start block round color="secondary" (click)="loadMap()"  >  Get Directions</button>
    <ion-card>
        <ion-card-content>
            <div #directionsPanel></div>
        </ion-card-content>
    </ion-card>
     
    <div #map id="map"></div> 
</ion-content>


