<!--
  Generated template for the FunctionalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar  color="primary">
  
       <ion-buttons start>
            <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>
         Functional
      </ion-title>
      
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>Functional Status</ion-label>
        <ion-select [(ngModel)]="asmt.homeboundVals" interface="popover" multiple="true" >
          <ion-option *ngFor="let cb of cbHBCodes" value="{{cb.Code}}" >{{cb.Description}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
        <ion-label floating>Functional Limitations</ion-label>
        <ion-select [(ngModel)]="asmt.funcLimVals" interface="popover" multiple="true" >
            <ion-option *ngFor="let cb of cbFLCodes" value="{{cb.Code}}" >{{cb.Description}}</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label floating>Activities Permitted</ion-label>
          <ion-select [(ngModel)]="asmt.actPermVals" interface="popover" multiple="true" >
              <ion-option *ngFor="let cb of cbAPCodes" value="{{cb.Code}}" >{{cb.Description}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Comments</ion-label>
            <ion-textarea [(ngModel)]="asmt.txtOther" ></ion-textarea>
            
          </ion-item>

</ion-content>



<ion-footer>
    <button ion-button large full color="primary" (click)="saveFunctional()">
      Save Functional
    </button>
  
  </ion-footer>
